<div class="footer">
    <div class="w">
        <div class="links">
            <a class="link" href="https://github.com/sunweiguo/spring-cloud-for-snailmall" target="_blank">代码</a> |
            <a class="link" href="https://github.com/sunweiguo/" target="_blank">github</a> |
            <a class="link" href="https://sunweiguo.github.io/" target="_blank">blog</a>
        </div>
        <p class="copyright">
            Copyright © 2017 snailmall.com All Right Reserved
        </p>
    </div>
</div>
<script type="text/javascript" src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js
"></script>